<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- GitPage -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-7014532389599089"
        data-ad-slot="1548115432">
    </ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
　　</head>
　　<body>
　　　　{{ content }}
        <hr >
        是谁在为我等待~
　　</body>
　　</html>
